@{
    ViewData["Title"] = "History Page";
}
<div class="text-center">
    <h1 class="display-4">History of Home Decor</h1>
    <p>Learn about Home decor The History of Home Decor | ehow"<a href="https://www.ehow.com/about_6716559_history-home-decor.htmlUse">The History of Home Decor.</p>
   @* <img src="img/Eselinkdecor.jpg.jpg">*@
</div>


<div class="text-center">
    <h2>The History</h2>
    <p>   By Elizabeth Burns
          How may earn compensation through affiliate links in this story. Learn more about our affiliate and product review process here.
    
          Wallpaper was a luxury item until the 19th century,
          Home decoration began when artistically inclined cave dwellers painted pictures on their walls but it only really came into its own in the 18th century, when luxury items started to become affordable for ordinary people. Until then, the beautiful house had been the preserve of the nobility and the very rich, for whom elegant hand-made furniture and ornate draperies were a status symbol.</p>
</div> 