@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To ESMOFIDECOR</h1>
    <p>Learn about Home decor.</p>
    <img src="img/Eselink.jpg.jpg">
</div>
<div class="text-center">
    <h2>ESEMOFI DECOR</h2>
    <p>
        Elegance
        The early modern period in the 18th century, with its increase in international trade and new educational opportunities, marked the beginning of consumerism. Wallpaper, rugs and even pianos became more affordable. Rooms were decorated in light colors; floral schemes were a typical wallpaper choice, patterned carpets were popular and the rich owned comfortable upholstered furniture. Books were displayed ostentatiously, as they were still expensive and indicated that their owner was rich and cultured.
    </p>
</div>
